@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import './variables.sass';

.contentPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 15rem auto;

    h1{
        font-size: 3rem;
        margin-top: 2rem;
        font-family: 'Cinzel', serif;
        align-self: center;
    }

    .steps{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size:1.5rem;
        margin:5rem;
    }

    .card-title{
        font-size:2rem;
    }
}

.socialProof{
    p {
        font-size:5rem;
        text-align: center;
        font-family: 'Akaya Telivigala', cursive;
    }
        

    .comments{
        display:flex;
        justify-content: center;
        align-items: center;
        margin: 2rem;

        .comment{
            border: 0.1rem solid #ccc;
            padding: 1rem;
            margin: 2rem;
            width:40%;
            background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);

            .header{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .name{
                    font-size:25px;
                    color: black;
                    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
                }
            }

            div{
                font-size:20px;
                font-family: "Helvetica Neue",Helvetica,Arial;
                color:grey;
            }
        }
    }
}


@media (max-width: 914px){
    html{
        font-size: 50%
    }

    .contentPage{
        .steps{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
        }

        .card-title{
            text-align: center;
        }
    }

    .socialProof{
        .comments{
            display: flex;
            flex-direction: column;
            
            .comment{
                width: 100%;
                margin: 3rem;
            }
        }
    }
}

@media(max-width:$medium-device){
    htm{
        font-size: 55%
    }
}

@media(max-width:$extra-large-device){
    htm{
        font-size: 60%
    }
}