@import './variables.sass';

body{
    background: rgb(190,200,250);
    background: linear-gradient(180deg, rgba(190,200,250,1) 0%, rgba(255,255,255,1) 50%);
}
.navbar{
    display: flex;
    justify-content: space-between;

    h1{
        margin-left: 2rem;
    }

    .sideLinks{
        display: flex;
        align-items: center;
        padding:1rem;
        
        button{
            height: 50px;
            width: 10rem;
            font-size:1.5rem;
        }

        .getStarted button{
            width: 15rem;
        }
    }
}

@media (max-width: $extra-small-device){
    html{
        font-size: 50%
    }
}

@media(max-width:$medium-device){
    htm{
        font-size: 55%
    }
}

@media(max-width:$extra-large-device){
    htm{
        font-size: 60%
    }
}

